.thumb {
    padding:5px;
}

.thumb img {
    cursor: pointer;
    border-radius:5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding:5px;
}

.carousel-control.left, .carousel-control.right{
    background-image: none;
}

#galleryDropZone {
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    color: #777;
    border: dashed 2px;
    height: 100px;
    margin-bottom: 20px;
}

#galleryDropZone.dragenter {
    color: #333333;
}

#galleryDropZone > * {
    pointer-events: none;
}


.progress {
    height: 5px;
}

.panel-body {
    padding: 5px;
}

#galleryDropZone > span {
     line-height: 100px;
 }

.spinner {
    position: relative;
    height: 35px;
    width: 35px;
    background-color: red;
    border-radius: 50%;
}

.slice {
    border-radius: 50%;
    position: absolute;
    width: 23px;
    height: 23px;
    background-color: white;
    top: 6px;
    left: 6px;
}

.fa-trash{
    cursor: pointer;
    color: #d9534f;
    font-size: 18px;
}

.fa-trash:hover{
    color: #d43f3a;
}