.thumb {
    padding:5px;
}

.thumb img {
    cursor: pointer;
    border-radius:5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding:5px;
}

.carousel-control.left, .carousel-control.right{
    background-image: none;
}

