.page-header {
    margin: 0px 0px 2px;
}

.message{
    text-transform: none;
    letter-spacing: 0;
    border-top: none;
    color: #777
}

.message > div:nth-child(2){
    margin-left: 20px;
}

.message-text{
    font-weight: 100;
    color: #000;
}

a{
  color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}