body {
    background: #EFEFEF;
    font-family: 'Roboto';
}

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 0px 20px 20px 20px;
    background: #fff;
    min-height: 460px;
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
    /*padding: 0 40px 30px 40px;*/
}
/* Reposition the controls slightly */
.carousel-control {
    left: -12px;
}
.carousel-control.right {
    right: -12px;
}

.img-circle{
    width: 100px;
    height: 100px;
}

.comment-like-block{

    font-size: 20px;
}

.comment-like-block a{
    text-decoration: none;
}

.like{
    float: right;
}

.page-header {
    padding-top: 9px;
    border-top: 1px solid #eeeeee;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form-horizontal{
    width: 100%;
    display: inline-block;
}

.page-header:nth-child(1){
    margin-top: 20px !important;
}

.profile-property{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    color: #777;
}

.info-block{
    padding-left: 20px;
}

.well{
    padding: 8px;
}

.form-group {
    margin-bottom: 8px;
}

.form-horizontal > button{
    margin-top: 8px;
}

.form-horizontal > textarea{
    resize: vertical;
}

.fa-angle-right, .fa-angle-left{
    font-size: 30px;
    margin: auto;
}

.arrow{
    text-align: center;
    line-height: 110px;
}

.arrow i{
    color: #777;
    transition: color 0.2s ease-in;

}

.arrow i:hover{
    cursor: pointer;
    color: #5b9bd1;
}

#avatarDropzone > * {
    pointer-events: none;
}

#avatarDropzone img{
    width: 150px;
    height: 150px;
}

#slidePhoto{
    overflow: hidden;
    padding: 0px;
}

#containerPhoto {
    position: inherit;
    width: 200%;
}

#containerPhoto > div {
    padding: 0 4px;
    float: left;
    width: 12.5% !important;
}

#containerPhoto .thumbnail {

}

#slider .col-md-3{
    vertical-align: middle;
    padding: 2px;
}

.friends-image{
    width: 60px;
    height: 60px;
}

.user-posts{
    word-wrap: break-word;
}

.posts-block{
    padding-right: 28px;
}

.add-information{
    display: none;
}

.glyphicon-plus{
    cursor: pointer;
}

.information-plus{
    color: #4cae4c;
}

.img-comment{
    width:50px;
    height: 50px;
}

.post-comment{
    padding-right: 40px;
    margin-left: -35px !important;
}

.comment{
    padding-top: 20px;
}

.add-info-plus:hover {
   cursor: pointer;
}

.comment-box {
    padding-left: 50px;
}

.comment-box > form {
    width: 70%;
}